<template name="regist">
   <form id="regist" method="post">
            <input type="text" name="subdomain"  placeholder="Type to add  subdomain"/>
            <br>
            <input type="text" name="name"  placeholder="Type to add  name"/>
            <br>
            <input type="text" name="address"  placeholder="Type to add  address"/>
            <br>
            <input type="text" name="phone"  placeholder="Type to add  phone"/>
            <br>
            <input type="text" name="fax"  placeholder="Type to add  fax"/>
            <br>
            <input type="text" name="scale"  placeholder="Type to add  scale"/>
            <br>
            <input type="text" name="about_url"  placeholder="Type to add  about_url"/>
            <br>
            <input type="text" name="agent_name"  placeholder="Type to add  agent_name"/>
            <br>
            <input type="text" name="agent_email"  placeholder="Type to add  agent_email"/>
            <br>
            <input type="text" name="agent_phone"  placeholder="Type to add  agent_phone"/>
            <br>
            <input type="text" name="agent_title"  placeholder="Type to add  agent_title"/>
            <br>
            <input type="submit" value="Regist" />
            <br>
    </form>
</template>