<template name="footer">
    <footer>
        <div class="footer-container">
            <div class="copy-right">
                <b>© 2017 Easywork Services Provider. All Rights Reserved.</b>
            </div>
            <div class="location">
                <b>Address:</b> 12F Lanmark 72, Keangnam, Me Tri St, Nam Tu Liem, Ha Noi.
            </div>
            <div class="contact">
                <b>Email:</b> quytm2239@gmail.com
            </div>
            <div class="phone">
                <b>Phone:</b> +084-988-352-625
            </div>
        </div>
    </footer>
</template>
