
.home-item {
    padding: 20px;
}

.home-pros-point, .home-pros-bullet {
    display: inline;
    text-align: center;
    vertical-align: middle;
}

.row-home-header {
    background: @color-main-theme;
    .home-header {
        text-align: center;
        font-size: 40px;
        color: white;
    }
}
